button
{
    background-color:bisque;
    border:1px solid black;
    font-family:'Courier New', Courier, monospace;
    font-size: 12px;
    border-radius: 10px
}

#resources
{
    width: 100%;
    align-items: center;
    margin:auto;
    text-align:center;
}

.tabs
{
    overflow: hidden;
    background-color: blanchedalmond;
    border: 1px solid black;
}

.tabs button
{
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px
}

.tabs button:hover
{
    background-color: bisque;
}

.tabs button.active
{
    background-color:azure;
}

.tabcontent
{
    display: none;
    padding: 6px 12px;
    align-items:center
}

#int
{
    display: none;
}